@import "tailwindcss";

.colorButton {
  @apply cursor-pointer border-3 rounded-full shadow-[4px_4px_10px_rgba(0,0,0,0.2)];
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
